<div class="container">
  <p class="text">Введите новый пароль</p>
  <div>
    <input class="input-text" type="password" placeholder="пароль">
    <svg class="show reg">
      <use xlink:href="./assets/icons/icons-interface.svg#show-password-active"></use>
    </svg>
    <!--      <svg class="show">-->
    <!--        <use xlink:href="./assets/icons/icons-interface.svg#show-password-no-active"></use>-->
    <!--      </svg>-->
  </div>
  <button class="save">подтвердить</button>
  <button class="save back">выйти</button>
</div>
