@import "./../../app.component";
.message {
  margin-top: 40px;
  position: relative;
  margin-left: 10px;
  .avatar-container-message {
    width: 30px;
    height: 30px;
    position: relative;
  }

  .content {
    margin-left: 23px;
    padding: 12px;
    width: 250px;
    background: #FFD0D0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 7px 4px 23px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-top: 6px;
    @include phone-medium() {
      width: 180px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }

  .date {
    margin-top: 6px;
    margin-left: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.67);
  }
}

.message-come {
  margin-top: 40px;
  position: relative;
  width: 95%;
  .avatar-container-message {
    margin: 0 0 0 auto;
    width: 30px;
    height: 30px;
    position: relative;

  }

  .content {
    padding: 12px;
    width: 250px;
    background: #D4EAFE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 7px 4px 23px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin: 6px 23px 0 auto;
    @include phone-medium() {
      width: 180px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }

  .date {
    margin-top: 6px;
    margin-right: 23px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.67);
  }
}
