.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  .info{
    font-weight: 500;
    color: black;
    font-size: 25px;
    text-align: center;
    span{
      font-size: 60px;
      font-weight: 700;
      color: #5e5d5d;
    }
  }
}
