@import "../../../../app.component";
.info {
  display: flex;
  width: 520px;
  align-items: center;
  justify-content: space-between;
  @include dekstop-small() {
    width: 95%;
  }
  @include tablet-medium() {
    width: 520px;
  }
  @include tablet-small(){
    display: block;
    width: 100%;
  }
  .avatar_container {
    width: 111px;
    height: 111px;
    position: relative;
    @include tablet-small(){
      display: block;
      margin: 0 auto;
    }
  }

  p {
    width: 250px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    color: #000000;
    @include tablet-small(){
      text-align: center;
      margin-top:30px ;
    }

    span {
      color: rgb(2, 222, 255);
    }


  }
}
