<div class="container">
  <p class="text">Выбирите фон чата</p>
  <div class="flex">
    <div class="el active">
      <img src="../../../../../assets/image/background-1.jpg" alt="background">
    </div>
    <div class="el">
      <img src="../../../../../assets/image/background-2.jpg" alt="background">
    </div>
    <div class="el">
      <img src="../../../../../assets/image/background-3.jpg" alt="background">
    </div>
    <div class="el">
      <img src="../../../../../assets/image/background-4.jpg" alt="background">
    </div>
    <div class="el">
      <img src="../../../../../assets/image/bacground-5.jpg" alt="background">
    </div>
    <div class="el">
      <img src="../../../../../assets/image/background-6.png" alt="background">
    </div>
  </div>
  <button (click)="back()" class="back">назад</button>
</div>
<img class="background" src="../../../../../assets/image/background-1.jpg" alt="background">
