@import "./../../app.component";
.buttons {
  margin-top: 30px;
  width: 373px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include dekstop-small(){
    width: 350px;
  }
  @include phone-medium(){
    flex-flow: column;
    width: 100%;
  }

  .exit {
    margin-top: 20px;
    display: block;
    width: 150px;
    height: 40px;
    background: $color-white;
    border: 1px solid $color-red;
    border-radius: 13px;
    font-weight: 400;
    font-size: 20px;
    color: $color-red;
    transition: all .2s;
    cursor: pointer;
    &:hover{
      background: $color-red;
      color: $color-white;
    }
  }

  .container-button {
    position: relative;

    .next {
      border-color: $color-blue;
      color: $color-blue;
      transition: all .2s;
      cursor: pointer;
      &:hover{
        background: $color-blue;
        color: $color-white;
      }
    }

    .message_indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 35px;
      height: 35px;
      background: #FF800C;
      transform: translate(127px, -66px);
      border-radius: 100%;

      p {
        font-weight: 900;
        font-size: 16px;
        color: $color-white;
      }
    }
  }
  .admin{
    border-color: rgb(2, 222, 255);
    color: rgb(2, 222, 255);
    transition: all .2s;
    cursor: pointer;
    &:hover{
      background: rgb(2, 222, 255);;
      color: black;
    }
  }
}
