@import "./../../app.component";
.form-content{
  width: 503px;
  margin-top: 100px;
  .desc{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    height: 192px;
    resize: none;
    background: white;
    padding: 20px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    &::placeholder{
      color: $placeholder
    }
  }

    .title{
      box-sizing: border-box;
      width: 100%;
      border-bottom: solid 1px black;
      height: 35px;
      background: white;
      padding: 10px;
      font-size: 18px;
      color: black;
      font-weight: 700;
      &::placeholder{
        color: $placeholder
      }
    }

  .save{
    display: block;
    width: 150px;
    height: 40px;
    margin: 20px auto 0;
    background: $color-white;
    border: 1px solid black;
    border-radius: 13px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    transition: all .2s;
    cursor: pointer;
    &:hover{
      background: black;
      color: $color-white;
    }
  }
}
