<li class="user">
  <div class="avatar_container">
    <app-avatar [type]="'medium'"></app-avatar>
  </div>
  <p class="text">Максим7393</p>
  <div class="indicator">
    <p>99</p>
  </div>
  <div class="control">
    <button class="message">
      <svg>
        <use xlink:href="./assets/icons/icons-interface.svg#message"></use>
      </svg>
    </button>
    <button class="delete">
      <svg>
        <use xlink:href="./assets/icons/icons-interface.svg#clear"></use>
      </svg>
    </button>
  </div>
</li>
