@import "./../../app.component";
.header{
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #1c1c1c;
  .logo{
    display: block;
    width: 291px;
    height: 40px;
  }
}
.container-flex{
  width: 1000px;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 100px auto 0;
  @include tablet-medium(){
    width: 80%;
  }
}
