<div class="chat-container" *ngIf="type === 'menu';else news ">
  <app-header  [isMobile]="isMobile" *ngIf="isMobile"></app-header>
  <ul class="messages">
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
  </ul>
  <div>
    <div class="control">
      <input type="text" placeholder="сообщение">
      <svg class="icon">
        <use xlink:href="./assets/icons/icons-interface.svg#message"></use>
      </svg>
    </div>
    <app-header *ngIf="!isMobile"></app-header>
  </div>
</div>
<ng-template #news>
  <div class="chat-container">
    <ul class="messages news news-height">
      <app-message-admin></app-message-admin>
      <app-message-admin></app-message-admin>
    </ul>
  </div>
</ng-template>
