<div class="chat-container" *ngIf="type === 'menu';else news ">
  <app-header (closeChatEmitter)="closeChat()" *ngIf="isTablet$|async" ></app-header>
  <ul class="messages">
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
  </ul>
  <div>
    <div class="control">
      <input type="text" placeholder="сообщение">
      <svg class="icon">
        <use xlink:href="./assets/icons/icons-interface.svg#message"></use>
      </svg>
    </div>
      <app-header *ngIf="!(isTablet$|async)"></app-header>
  </div>
  <img class="background-chat" [src]="backgroundChat.path" alt="background-chat">
</div>
<ng-template #news>
  <div class="chat-container">
    <ul class="messages news news-height">
      <app-message-admin></app-message-admin>
      <app-message-admin></app-message-admin>
    </ul>
    <img class="background-chat" [src]="backgroundChat.path" alt="background-chat">
  </div>
</ng-template>
