<div class="chat-container">
  <ul class="messages">
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
    <app-message [isCome]="true"></app-message>
    <app-message [isCome]="false"></app-message>
  </ul>
  <div class="control">
    <input type="text" placeholder="сообщение">
    <svg class="icon">
      <use xlink:href="./assets/icons/icons-interface.svg#message"></use>
    </svg>
  </div>
  <app-header></app-header>
</div>
