<div class="overlay">
  <div class="modal">
    <p class="text">введите свой логин (email) который указывали при регистрации, туда придёт письмо с кодом для подтверждения</p>
    <form [formGroup]="emailForm" class="form" >
    <input [ngClass]="{'error':emailForm.controls['email'].invalid}" formControlName="email" class="input-text" type="email" placeholder="E-mail">
      <p class="errors-text" *ngIf="emailForm.controls['email'].errors">Должен быть корректный Email</p>
    <button [disabled]="emailForm.invalid" class="submit">отправить</button>
    </form>
  </div>
</div>
