@import "../../../../app.component";
.header-news{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 83px;
  background: #ffff;
  img{
    margin: 0 auto 0;
    display: block;
    width: 327px;
    height: 44px;
    @include phone-medium(){
      width: 285px;
      height: 36px;
    }
  }
}
