@import "./../../app.component";
.info {
  display: flex;
  width: 520px;
  align-items: center;
  justify-content: space-between;
  @include dekstop-small() {
    width: 95%;
  }
  @include tablet-medium() {
    width: 520px;
  }
  @include tablet-small(){
    display: block;
    width: 100%;
  }
  .avatar_container {
    width: 111px;
    height: 111px;
    position: relative;
    @include tablet-small(){
      display: block;
      margin: 0 auto;
    }
  }

  p {
    width: 250px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    color: #000000;
    @include tablet-small(){
      text-align: center;
      margin-top:30px ;
    }

    span {
      color: rgb(2, 222, 255);
    }


  }
}
.form-authorization {
  width: 230px;
  margin: 140px auto 0;
  @include phone-medium() {
    width: 100%
  }

  .input-file-none {
    display: none;
  }

  .input-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 0;
    background: $color-blue;
    box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    @include phone-medium() {
      width: 100px;
      height: 100px;
    }

    svg {
      position: relative;
      top: 19px;
      left: 16px;
      height: 63px;
      width: 63px;
      @include phone-medium() {
        top: 26px;
        left: 22px;
        height: 86px;
        width: 88px;
      }
    }

    img {
      height: inherit;
      width: inherit;
      border-radius: 100%;
    }
  }

  .input-text {
    width: 90%;
    height: 23px;
    background: $color-white;
    border: 1px solid $color-blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    display: block;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 9px;
    color: black;
    @include phone-medium() {
      width: 70%;
      font-size: 18px;

    }

    &::placeholder {
      color: $placeholder;
    }

  }
  .save{
    margin: 33px auto 0;
    width: 150px;
    height: 19px;
    font-weight: 600;
    font-size: 18px;
    color: $color-green;
  }
  .back{
    color: $color-red;
  }
}
.show {
  position: absolute;
  transform: translate(188px, -34px);
  width: 83px;
  height: 83px;
  @include phone-medium() {
    transform: none;
    left: 64%;
    top: 650px;
    width: 69px;
    height: 71px;
  }
  @media screen and (max-width: 410px) {
    left: 66%;
  }
  use{
    cursor: pointer;
  }
}
