@import "./../../app.component";
.admin-message{
  margin-top: 40px;
  position: relative;
  margin-left: 10px;
  .avatar-container-message {
    width: 30px;
    height: 30px;
    position: relative;
  }

  .content {
    margin-left: 23px;
    padding: 12px;
    width: 75%;
    background: #D4EAFE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 7px 4px 23px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-top: 6px;

    p {
      margin-top: 10px;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      width: 100%;
    }
  }

  .date {
    margin-top: 6px;
    margin-left: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.67);
  }
}

