html{
  font-family: Roboto sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
h1,p,h2,h3{
  margin: 0;
  padding: 0;
}
button,input{
  outline: none;
  border: none;
  background: none;
  display: block;
}
ul{
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none;
}
