<div class="flex" *ngIf="type === 'menu';else about">
  <div class="info" *ngIf="isBigWidth;else mobile">
    <div class="avatar_container">
      <app-avatar [type]="'big'"></app-avatar>
    </div>
    <p>Максим7393 <span>администратор</span></p>
    <svg>
      <use xlink:href="./assets/icons/icons-interface.svg#settings"></use>
    </svg>
  </div>
  <ng-template #mobile>
    <div class="info-mobile">
      <div class="avatar_container">
        <app-avatar [type]="'big'"></app-avatar>
      </div>
      <div class="flex-mobile">
        <p>Максим7393</p>
        <svg>
          <use xlink:href="./assets/icons/icons-interface.svg#settings"></use>
        </svg>
      </div>
    </div>
  </ng-template>
  <div class="buttons">
    <button class="exit">выйти</button>
    <div class="container-button">
      <button  class="exit next">о приложении</button>
      <button  class="exit next">в чат</button>
      <div class="message_indicator">
        <p>99</p>
      </div>
    </div>
    <button class="exit admin ">админка</button>
  </div>
  <div class="search_container">
    <input type="text" placeholder="поиск">
    <svg>
      <use xlink:href="./assets/icons/icons-interface.svg#search"></use>
    </svg>
  </div>
  <ul class="sections">
    <li><p>сообщения</p></li>
    <li class="active"><p>все пользователи</p></li>
  </ul>
  <ul class="users">
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
  </ul>
</div>
<ng-template #about>
  <div class="flex-news">
    <div class="buttons">
      <button class="exit">выйти</button>
      <div class="container-button">
        <button class="exit next">о приложении</button>
        <div class="message_indicator">
          <p>99</p>
        </div>
      </div>
    </div>
    <img *ngIf="isTablet" class="logo-news" src="./assets/image/logo.png" alt="logo">
    <div class="about">
      <p>Приложение “RuChat” преднозначено для общения </p>
     <p>Версия : 0.0.1</p>
    </div>
  </div>
</ng-template>
<app-settings-modal></app-settings-modal>
