@import "./../../app.component";

.flex {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  flex-flow: column;
}
.flex-news{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-flow: column;
  .logo-news{
    display: block;
    margin-top: 86px;
    width: 254px;
    height: 52px;
  }
  .about{
    width: 292px;
    p{
      width: 100%;
      margin-top: 62px;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: black;
      text-align: center;
    }

  }
}
.info {
  display: flex;
  width: 520px;
  align-items: center;
  justify-content: space-between;
  @include dekstop-small(){
    width: 95%;
  }
  @include tablet-medium(){
    width: 520px;
  }
  @include tablet-small(){
    width: 100%;
  }
  .avatar_container {
    width: 111px;
    height: 111px;
    position: relative;
  }

  p {
    width: 250px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    color: #000000;
    span{
      color: rgb(2, 222, 255);
    }


  }

  svg {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
.info-mobile {
  display: block;
  width: 300px;
  .avatar_container {
    width: 111px;
    height: 111px;
    position: relative;
    margin: 10px auto 0;
  }
  .flex-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto 0;
    p {
      font-weight: 700;
      font-size: 25px;
      line-height: 35px;
      align-items: center;
      color: #000000;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }

}

.search_container {
  box-sizing: border-box;
  margin-top: 57px;
  position: relative;
  input {
    width: 502px;
    height: 40px;
    border-bottom: solid 1px $color-blue;
    padding: 0 24px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    @include dekstop-small(){
      width: 85%;
    }

    &::placeholder {
      color: rgba(142, 142, 142, 0.56);
    }
  }

  svg {
    position: absolute;
    width: 39px;
    height: 39px;
    cursor: pointer;
    transition: all .2s;
    transform: translate(505px, -27px);
    @include dekstop-small(){
      transform: translate(266px, -27px);
    }
    @include phone-medium(){
      transform: translate(241px, -27px);
    }
 }
}

.sections {
  margin-top: 56px;
  display: flex;
  width: 303px;
  align-items: center;
  justify-content: space-between;
  @include phone-medium(){
    width: 100%;
    flex-flow: column;
    height: 100px;
  }

  li {
    height: 28px;
    cursor: pointer;
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: $color-blue;
    }
  }
}
.active{
  border-bottom: solid 2px $color-red;
}
  .users {
    overflow-y: auto;
    height: 500px;
    &::-webkit-scrollbar{
      width: 2px;
    }
    &::-webkit-scrollbar-thumb{
      width: 1px;
      background: $color-blue;
      border-radius: 20px;
    }
    @include phone-medium(){
      width: 100%;
    }
  }
